<div class"card ">
    <img class="card-img-top" src="{{ produit.image }}" alt="Image de {{ produit.titre }}" width="100" height=auto>
    <div class="card-body">
        <h5 class="card_title" >{{ produit.titre }}</h5>
        
    </div>
</div>